//text color
$color-gray: #777777

//container color
$color-gray-light: #FAFAFA

//white and black colors
$color-white: #ffffff
$color-black: #000000

//primary site colors    
$color-brown: #BA8554
$color-brown-dark: #A14F03

//indents
$margin-vertical-big: 8rem
$gutter-horizontal: 6rem
$grid-width: 114rem

//shadow
$shadow: (0rem .4rem .4rem rgba(0, 0, 0, 0.3))

//paragraph
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem